@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

$P-Soft-Blue: hsl(231, 69%, 60%);
$P-Soft-Red: hsl(0, 94%, 66%);
$N-Grayish-Blue: hsl(229, 8%, 60%);
$N-Very-Dark-Blue: hsl(229, 31%, 21%);

$font-size-body:18px;
$font-size-p:16px;
$font-weight-400:400;
$font-weight-500:500;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Rubik', sans-serif;
  font-size: $font-size-body;
  font-weight: $font-weight-400;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  width: 375px;
  min-width: 100%;
}

section {
  margin-top: 3rem;
}

h1,
h2,
h3,
p,
a {
  margin-top: 1rem;
}

h1,
h2 {
  color: $N-Very-Dark-Blue;
}

p {
  color: $N-Grayish-Blue;
  line-height: 1.5rem;
  font-size: $font-size-p;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.btn {
  padding: 1rem;
  border-radius: 5px;
  font-size: 12px;
  font-weight: $font-weight-500;
  box-shadow: 0px 5px 18px -10px rgba(0, 0, 0, 0.75);
  display: inline-block;
}

.P-btn {
  background: $P-Soft-Blue;
  color: white;
}

.N-btn {
  background: rgba($N-Grayish-Blue, 0.2);
  color: $N-Very-Dark-Blue;
}

.R-btn {
  background: $P-Soft-Red;
  color: white;
}

img {
  width: 100%;
}

#navbar {
  flex-direction: row;

  @media screen and (min-width:768px) {
    padding: 1rem 10%;
  }
}

#hero {
  text-align: center;
  margin-top: 2rem;

  .illustration-hero {
    position: relative;
    margin-bottom: 2rem;
  }

  .illustration-hero::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 90%;
    height: 80%;
    background: $P-Soft-Blue;
    border-radius: 100vh 0 0 100vh;
    margin: 15% -20px 0 0;
    z-index: -999;
  }

  .hero-content {

    .hero-buttons {
      display: flex;
      justify-content: space-evenly;
    }
  }
}

#features {
  text-align: center;
  margin-top: 3rem;

  [data-tab-content] {
    display: none;
  }

  .active[data-tab-content] {
    display: block;
  }

  .tabs {
    margin-bottom: 2rem;
  }

  .tab {
    cursor: pointer;
    position: relative;
    margin: 1rem 0;
    padding: 0 5rem 1rem 5rem;
    border-bottom: 1px solid rgba($N-Grayish-Blue, 0.2);
    color: $N-Very-Dark-Blue;
  }

  .tabs>li:first-child {
    padding-top: 1rem;
    border-top: 1px solid rgba($N-Grayish-Blue, 0.2);
  }

  .tab::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 95%;
    margin: 0 auto;
    width: 50%;
    height: 4px;
  }

  .tab.active::after {
    background: $P-Soft-Red;
  }

  .tab-content {

    div {
      position: relative;

      .illustration-tab::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 90%;
        height: 80%;
        background: $P-Soft-Blue;
        border-radius: 0 100vh 100vh 0;
        margin: 20% 0 0 -20px;
        z-index: -999;
      }

      h1 {
        margin-top: 4rem;
      }
    }
  }

}

#extensions {
  text-align: center;
  margin-top: 3rem;

  .extension {
    width: 85%;
    padding: 4rem 0 1.5rem 0;
    margin-top: 2.5rem;
    box-shadow: 0px 7px 18px -10px rgba(0, 0, 0, 0.5);
    // box-shadow: 0px 8px 18px -10px rgb(0, 0, 0, 0.5);
    border-radius: 10px;

    .chrome,
    .firefox,
    .opera {
      width: 40%;
      margin-bottom: 1rem;
    }

    h3 {
      color: $N-Very-Dark-Blue;
    }

    p {
      margin-bottom: 1rem;
    }

    a {
      padding: 1rem 2rem;
      font-size: 14px;
    }
  }
}

#faq {
  text-align: center;
  margin-top: 3rem;

  .faq-accordions {
    margin-top: 3rem;

    .accordion {
      border-bottom: 1px solid rgba($N-Grayish-Blue, 0.3);

      .accordion-head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: left;
        cursor: pointer;
        width: 335px;
        padding-bottom: 1rem;

        .accordion-title {
          color: $N-Very-Dark-Blue;
        }

        svg {
          margin-top: 1rem;
        }

      }

      .accordion-body {
        margin-top: 1rem;
        text-align: left;
        display: none;
      }

      &.active {
        .accordion-head {
          svg {
            transform: rotate(180deg);

            path {
              stroke: $P-Soft-Red;
            }
          }
        }

        .accordion-body {
          display: block;
          padding-bottom: 2rem;
        }
      }
    }

  }

  a {
    margin: 2.5rem 0;
  }
}

#cpa {
  text-align: center;
  margin-top: 3rem;
  background: $P-Soft-Blue;
  padding: 2rem 20px;

  p {
    color: white;
    letter-spacing: 4px;
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 2rem;
  }

  h2 {
    color: white;
    font-weight: $font-weight-500;
    font-size: 26px;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 2rem;
    position: relative;

    input {
      padding: 1rem;
      border-radius: 6px;
      border: none;
      outline: none;

      &::placeholder {
        color: rgba($N-Grayish-Blue, 0.5);
        font-size: $font-size-p;
      }
    }

    input.error {
      border: 3px solid $P-Soft-Red;
      border-bottom: 30px solid $P-Soft-Red;
      position: relative;
      top: 0;
      right: 0;
      background: #fff url("./images/icon-error.svg") no-repeat;
      background-position: 95% center;
    }

    span {
      display: none;
    }

    span.errorText {
      display: block;
      position: absolute;
      top: 40%;
      left: 5%;
      color: white;
      font-size: 12px;
    }

    a {
      font-size: $font-size-p;
    }
  }
}

footer {
  background: $N-Very-Dark-Blue;
  text-align: center;
  margin-top: 3rem;

  .logo-nav {
    .logo {
      margin-top: 2rem;

      svg {
        path {
          fill: #FFF;
        }
      }
    }

    .nav {
      margin-top: 2rem;

      li {
        margin-top: 1.5rem;

        a {
          color: white;
          text-transform: uppercase;
          font-size: $font-size-p;
          letter-spacing: 2px;
        }
      }
    }
  }

  .socials {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0 2rem 0;

    img:first-child {
      margin-right: 2.5rem;
    }
  }
}

.ham-nav-container {
  position: fixed;
  background-color: rgba($N-Very-Dark-Blue, 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.ham-nav-container.show {
  opacity: 1;
  pointer-events: auto;
}

.logo_close {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding: 20px 0 40px 0;

  .logo {
    path {
      fill: #FFF;
    }

    circle {
      fill: #FFF;
    }

    .mid-icon-shape {
      fill: #242A45;
    }
  }

  #close_nav {
    width: 15px;
  }
}

.ham-nav-modalo {
  background-color: transparent;
  border-radius: 7px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: left;
  width: 450px;
  max-width: 85%;

  ul {
    li {
      padding: 22px 35px;
      border-top: 1px solid rgba($color: $N-Grayish-Blue, $alpha: 0.4);
      text-align: center;

      a {
        color: rgba(#FFF, 0.9);
        font-weight: $font-weight-400;
        font-size: $font-size-body;
        text-transform: uppercase;
        letter-spacing: 3px;
      }

      &:nth-child(3) {
        border-bottom: 1px solid rgba($color: $N-Grayish-Blue, $alpha: 0.4);
      }

      &:last-child {
        margin-top: 22px;
        padding: 10px 25px;
        border-radius: 5px;
        border: 2px solid #FFF;
        color: #FFF;
      }
    }
  }
}

.socials-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;

  img:first-child {
    margin-right: 2.5rem;
  }
}