@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

$P-Soft-Blue: hsl(231, 69%, 60%);
$P-Soft-Red: hsl(0, 94%, 66%);
$N-Grayish-Blue: hsl(229, 8%, 60%);
$N-Very-Dark-Blue: hsl(229, 31%, 21%);

$font-size:18px;
$font-weight-400:400;
$font-weight-500:500;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Rubik', sans-serif;
  font-size: $font-size;
  font-weight: $font-weight-400;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  width: 375px;
  min-width: 100%;
}

h1,
h2,
h3,
p,
a {
  margin-top: 1rem;
}

a {
  text-decoration: none;
}

.btn {
  padding: 1rem;
  border-radius: 5px;
  font-size: 12px;
  font-weight: $font-weight-500;
  display: inline-block;
}

.P-btn {
  background: $P-Soft-Blue;
  color: white;
}

.N-btn {
  background: rgba($N-Grayish-Blue, 0.2);
  color: $N-Very-Dark-Blue;
}

img {
  width: 100%;
}

section.hero {
  flex-direction: column;
  text-align: center;
}