@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding: 20px;
  width: 375px;
  min-width: 100%;
}

section {
  margin-top: 3rem;
}

h1,
h2,
h3,
p,
a {
  margin-top: 1rem;
}

h1,
h2 {
  color: #252b46;
}

p {
  color: #9194a1;
  line-height: 1.5rem;
  font-size: 16px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.btn {
  padding: 1rem;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 500;
  -webkit-box-shadow: 0px 5px 18px -10px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 5px 18px -10px rgba(0, 0, 0, 0.75);
  display: inline-block;
}

.P-btn {
  background: #5368df;
  color: white;
}

.N-btn {
  background: rgba(145, 148, 161, 0.2);
  color: #252b46;
}

.R-btn {
  background: #fa5757;
  color: white;
}

img {
  width: 100%;
}

#navbar {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#navbar .nav {
  display: none;
}

@media screen and (min-width: 768px) {
  #navbar {
    padding: 1rem 10%;
  }
  #navbar .burger {
    display: none;
  }
  #navbar .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-transform: uppercase;
  }
  #navbar .nav li {
    margin-right: 2.5rem;
  }
  #navbar .nav li a {
    color: #252b46;
    text-transform: uppercase;
    font-size: 16px;
  }
  #navbar .nav li:last-child {
    margin-right: 0;
  }
  #navbar .nav li:last-child a {
    margin-top: 0;
    padding: 0.8rem 2.3rem;
    color: #FFF;
    font-weight: 400;
  }
}

#hero {
  text-align: center;
  margin-top: 2rem;
}

#hero .illustration-hero {
  position: relative;
  margin-bottom: 2rem;
}

#hero .illustration-hero::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 90%;
  height: 80%;
  background: #5368df;
  border-radius: 100vh 0 0 100vh;
  margin: 15% -20px 0 0;
  z-index: -999;
}

#hero .hero-content .hero-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#features {
  text-align: center;
  margin-top: 3rem;
}

#features [data-tab-content] {
  display: none;
}

#features .active[data-tab-content] {
  display: block;
}

#features .tabs {
  margin-bottom: 2rem;
}

#features .tab {
  cursor: pointer;
  position: relative;
  margin: 1rem 0;
  padding: 0 5rem 1rem 5rem;
  border-bottom: 1px solid rgba(145, 148, 161, 0.2);
  color: #252b46;
}

#features .tabs > li:first-child {
  padding-top: 1rem;
  border-top: 1px solid rgba(145, 148, 161, 0.2);
}

#features .tab::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 95%;
  margin: 0 auto;
  width: 50%;
  height: 4px;
}

#features .tab.active::after {
  background: #fa5757;
}

#features .tab-content div {
  position: relative;
}

#features .tab-content div .illustration-tab::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 80%;
  background: #5368df;
  border-radius: 0 100vh 100vh 0;
  margin: 20% 0 0 -20px;
  z-index: -999;
}

#features .tab-content div h1 {
  margin-top: 4rem;
}

#extensions {
  text-align: center;
  margin-top: 3rem;
}

#extensions .extension {
  width: 85%;
  padding: 4rem 0 1.5rem 0;
  margin-top: 2.5rem;
  -webkit-box-shadow: 0px 7px 18px -10px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 7px 18px -10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

#extensions .extension .chrome,
#extensions .extension .firefox,
#extensions .extension .opera {
  width: 40%;
  margin-bottom: 1rem;
}

#extensions .extension h3 {
  color: #252b46;
}

#extensions .extension p {
  margin-bottom: 1rem;
}

#extensions .extension a {
  padding: 1rem 2rem;
  font-size: 14px;
}

#faq {
  text-align: center;
  margin-top: 3rem;
}

#faq .faq-accordions {
  margin-top: 3rem;
}

#faq .faq-accordions .accordion {
  border-bottom: 1px solid rgba(145, 148, 161, 0.3);
}

#faq .faq-accordions .accordion .accordion-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  cursor: pointer;
  width: 335px;
  padding-bottom: 1rem;
}

#faq .faq-accordions .accordion .accordion-head .accordion-title {
  color: #252b46;
}

#faq .faq-accordions .accordion .accordion-head svg {
  margin-top: 1rem;
}

#faq .faq-accordions .accordion .accordion-body {
  margin-top: 1rem;
  text-align: left;
  display: none;
}

#faq .faq-accordions .accordion.active .accordion-head svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

#faq .faq-accordions .accordion.active .accordion-head svg path {
  stroke: #fa5757;
}

#faq .faq-accordions .accordion.active .accordion-body {
  display: block;
  padding-bottom: 2rem;
}

#faq a {
  margin: 2.5rem 0;
}

#cpa {
  text-align: center;
  margin-top: 3rem;
  background: #5368df;
  padding: 2rem 20px;
}

#cpa p {
  color: white;
  letter-spacing: 4px;
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 2rem;
}

#cpa h2 {
  color: white;
  font-weight: 500;
  font-size: 26px;
}

#cpa form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin: 2rem;
  position: relative;
}

#cpa form input {
  padding: 1rem;
  border-radius: 6px;
  border: none;
  outline: none;
}

#cpa form input::-webkit-input-placeholder {
  color: rgba(145, 148, 161, 0.5);
  font-size: 16px;
}

#cpa form input:-ms-input-placeholder {
  color: rgba(145, 148, 161, 0.5);
  font-size: 16px;
}

#cpa form input::-ms-input-placeholder {
  color: rgba(145, 148, 161, 0.5);
  font-size: 16px;
}

#cpa form input::placeholder {
  color: rgba(145, 148, 161, 0.5);
  font-size: 16px;
}

#cpa form input.error {
  border: 3px solid #fa5757;
  border-bottom: 30px solid #fa5757;
  position: relative;
  top: 0;
  right: 0;
  background: #fff url("./images/icon-error.svg") no-repeat;
  background-position: 95% center;
}

#cpa form span {
  display: none;
}

#cpa form span.errorText {
  display: block;
  position: absolute;
  top: 40%;
  left: 5%;
  color: white;
  font-size: 12px;
}

#cpa form a {
  font-size: 16px;
}

footer {
  background: #252b46;
  text-align: center;
  margin-top: 3rem;
}

footer .logo-nav .logo {
  margin-top: 2rem;
}

footer .logo-nav .logo svg path {
  fill: #FFF;
}

footer .logo-nav .nav {
  margin-top: 2rem;
}

footer .logo-nav .nav li {
  margin-top: 1.5rem;
}

footer .logo-nav .nav li a {
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 2px;
}

footer .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3rem 0 2rem 0;
}

footer .socials img:first-child {
  margin-right: 2.5rem;
}

.ham-nav-container {
  position: fixed;
  background-color: rgba(37, 43, 70, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.ham-nav-container.show {
  opacity: 1;
  pointer-events: auto;
}

.logo_close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  padding: 20px 0 40px 0;
}

.logo_close .logo path {
  fill: #FFF;
}

.logo_close .logo circle {
  fill: #FFF;
}

.logo_close .logo .mid-icon-shape {
  fill: #242A45;
}

.logo_close #close_nav {
  width: 15px;
}

.ham-nav-modalo {
  background-color: transparent;
  border-radius: 7px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: left;
  width: 450px;
  max-width: 85%;
}

.ham-nav-modalo ul li {
  padding: 22px 35px;
  border-top: 1px solid rgba(145, 148, 161, 0.4);
  text-align: center;
}

.ham-nav-modalo ul li a {
  color: rgba(255, 255, 255, 0.9);
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.ham-nav-modalo ul li:nth-child(3) {
  border-bottom: 1px solid rgba(145, 148, 161, 0.4);
}

.ham-nav-modalo ul li:last-child {
  margin-top: 22px;
  padding: 10px 25px;
  border-radius: 5px;
  border: 2px solid #FFF;
  color: #FFF;
}

.socials-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 8rem;
}

.socials-nav img:first-child {
  margin-right: 2.5rem;
}
/*# sourceMappingURL=style.css.map */